@font-face {
	font-family: "qrank";
	src: url(../font/qranklestein.ttf);
}

@font-face {
	font-family: "blackR";
	src: url(../font/blackR.woff);
}

/*Style généraux*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "qrank";
	font-size: 1.4em;
	background-color: #ccc;
	color: #333;
}

p {
	font-family: "blackR";
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/*Section Footer*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: crimson;
	color: black;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}