@font-face {
	font-family: "qrank";
	src: url(../font/qranklestein.ttf);
}

@font-face {
	font-family: "blackR";
	src: url(../font/blackR.woff);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "qrank";
	font-size: 1.4em;
	color: #333;
	/*background-color: #ccc;*/
}

p {
	font-family: "blackR";
}

a {
	text-decoration: none;
	color: black;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

/*Section Halloween*/


.halloween .background-image {
	background-image: url(../img/backgroundZombie.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
