@font-face {
	font-family: "qrank";
	src: url(font/qranklestein.ttf);
}

@font-face {
	font-family: "blackR";
	src: url(font/blackR.woff);
}

/*Style généraux*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "qrank";
	font-size: 1.4em;
	color: #333;
	background-color: #ccc;
}

p {
	font-family: "blackR";
}

ul {
	list-style: none;
}

hr {
	width: 250px;
	height: 3px;
	background-color: crimson;
	border: 0;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section h3.title {
	font-size: 1.6em;
	margin-bottom: 10px;
	text-transform: capitalize;
	text-align: center;
}

/*Section Header*/

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px;
}

header ul{
	display: flex;
	margin-right: -15px;
}

header ul li {
	margin: 0 15px;
}

/*Section Halloween*/

#halloween {
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: black;
	text-shadow: 1px 1px rgba(220, 20, 60, 0.6);
}

#halloween .background-image {
	background-image: url(img/backgroundZombie.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	opacity: 0.7;
}

#halloween h1 {
	font-size: 2.8em;
	margin-bottom: 15px;
}

#halloween h3.title {
	margin-bottom: 50px;
}

#halloween a.btn {
	font-family: "candara";
	padding: 15px 40px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: crimson;
}

/*Section Zombie*/

section .presentation {
	display: flex;
	flex-direction: row;
}

section div.resume {
	display: flex;
	flex-basis: 70%;
	padding: 20px;
	text-align: justify;
}

section div.resume p {
	font-size: 1.05em;
	align-self: center;
}

section div.photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 30%;
}

.profile {
	width: 180px;
	border-radius: 50%;
	align-self: center;
	border: 2px solid silver;
}

/*Section Projets Apocalypse*/

.projets img {
	width: 30%;
	object-fit: cover;
	height: 250px;
	float: left;
	margin: 1.66%;
}

/*Section Repaire*/

section#repaire p {
	margin-bottom: 20px;
}

section#repaire form p {
	text-align: center;
	margin-top: 20px;
}

form input {
	padding: 15px;
}

/*Section Footer*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: crimson;
	color: black;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}